body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
}

.main-nav {
  width: 320px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  color: #333333;
  transition: 1s;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #F22C2C;
  transition: 0.3s;
}

@media (min-width: 750px;) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
   display: flex;
   justify-content: space-between;
   width: 640px;
   margin: 0 auto;
 }

 .site-list {
   width: 570px;
 }
}

.page-header__logo {
  display: block;
  width: 64px;
  height: 64px;
}

.order {
  color: #ffffff;
}

.order__wrapper {
  min-width: 320px;
  min-height: 528px;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order__container {
  background-color: #D62323;
}

.order__title {
  line-height: 70px;
  font-size: 48px;
  font-weight: bold;
}
.order__list {
  list-style: none;
}
.order__name {
  opacity: 0.5;
}

.categories {
  font-size: 18px;
}

.categories__list {
  list-style: none;
}

.categories__link {
  color: #000000;
}
.categories__link--active {
  color: #D62323;
}
.categories__link:hover,
.categories__link:focus {
  color: #D62323;
}
.categories__link:active {
  color: #D62323;
}

.catalog__title {
  line-height: 36px;
  font-size: 32px;
}

.catalog__category--price {
  font-size: 18px;
}

.catalog__list {
  list-style: none;
}

.catalog__info-name {
  font-size: 18px;
}

.catalog__info-weight {
  opacity: 0.5;
}

.catalog__info-price {
  font-size: 16px;
}

.catalog__discription {
  line-height: 21px;
  font-size: 15px;
  opacity: 0.8;
}

.catalog__discription-link {
  opacity: 1;
}
