body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding: 16px 0;
}

.main-nav {
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: -44px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 25px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 25px;
  height: 2px;
  background-color: #575757;
  box-shadow: 0 8px 0 0 #575757, 0 16px 0 0 #575757;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__link {
  color: #333333;
  transition: 1s;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #F22C2C;
  transition: 0.3s;
}

.page-header__logo {
  display: block;
  width: 64px;
  height: 64px;
  padding-left: 19px;
}

.page-header__person {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: relative;
  display: block;
  top: 23px;
  left: -14px;
  font-size: 0;
}

.user-list__login-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 20px;
}

@media (max-width: 659px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: 660px) {

  .page-header__wrapper {
    width: 640px;
    margin: 0 auto;
    padding: 27px 0;
    position: relative;
  }

  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0 auto;
  }

  .main-nav__list {
    width: 550px;
    display: flex;
    justify-content: space-between;
  }

  .site-list__item:nth-child(3) {
    margin-right: 96px;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__logo {
    position: absolute;
    padding: 0;
    width: 56px;
    height: 56px;
    top: 9px;
    left: 255px;
  }


  .page-header__person {
    top: 0;
  }
}


@media (min-width: 1200px) {
  .page-header__wrapper {
    width: 960px;
    padding: 0;
  }
  .main-nav__wrapper {
    width: 1329px;
  }

  .main-nav__list {
    width: 680px;
  }

  .page-header__logo {
    left: 320px;
  }

  .page-header__person {
    width: 80px;
    padding: 0 21px;
    padding-bottom: 0;
    padding-left: 49px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    left: -170px;
  }

  .site-list__item {
    display: block;
    padding: 26px 10px;
  }

  .page-main__columns {
    width: 1700px;
    display: flex;
    margin: 0 auto;
  }
  .page-main__columns--left {
    width: 1400px;
  }
}

.order {
  color: #ffffff;
}

.order__wrapper {
  min-width: 320px;
  min-height: 528px;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order__container {
  background-color: #D62323;
  width: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
  top: 304px;
}

.order__title-container {
  width: 300px;
  margin: 0 auto;
}

.order__title {
  line-height: 70px;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 32px;
}

.order__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.order__name {
  opacity: 0.5;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: 660px) {
  .order__wrapper  {
    width: auto;
    height: 750px;
    background-image: url("../img/big-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .order__container {
    top:600px;
    padding-bottom: 35px;
  }

  .order__title-container {
    width: 640px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .order__list {
    margin: 0;
    padding-top: 46px;
    margin-right: 75px;
  }

  .order__name {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .order__container  {
    width: 850px;
    top: 551px;
    padding-bottom: 60px;
    padding-top: 19px;
    margin: 0;
    position: relative;
  }
  .order__about {
    position: absolute;
    background-color: #313131;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    right: 738px;
    top: 623px;
  }

  .order__about-link {
    display: block;
    padding: 89px 98px;
    margin: 0;
    color: #ffffff;
  }

  .order__title-container {
    margin-left: 206px;
    padding-top: 4px;
  }
}

.categories {
  font-size: 18px;
}

.categories__list {
  list-style: none;
  padding: 0;
  padding-left: 56px;
  padding-top: 48px;
  margin: 0 auto;
  width: 264px;
}

.categories__item {
  margin-bottom: 24px;
}

.categories__link {
  color: #000000;
}

.categories__link--active {
  color: #D62323;
}

.categories__link:hover,
.categories__link:focus {
  color: #D62323;
}

.categories__link:active {
  color: #D62323;
}

@media (min-width: 660px) {
  .categories__list-wrapper {
    width: auto;
    border-bottom: 1px solid #E8EAED;
  }

  .categories__list {
    width: 640px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 35px;
  }
}

@media (min-width: 1200px) {
  .categories__list {
    width: 1200px;
    height: 75px;
    padding: 0;
    flex-direction: row;
  }

  .categories__item {
    margin-bottom: 0;
    padding: 32px 0;
  }

  .categories__item:first-child {
    margin-left: 176px;
  }
}


.catalog {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.catalog__title {
  line-height: 36px;
  font-size: 32px;
  margin: 0;
  margin-top: 60px;
}

.catalog__category--price {
  font-size: 18px;
  margin: 0;
}

.catalog__list {
  list-style: none;
  padding: 0;
  width: 300px;
  margin: 0 auto;
}

.catalog__item-image {
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

.catalog__info-page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  opacity: 0.7;
  border-bottom: 1px solid #2E2E2E;
}
.catalog__info-page:hover,
.catalog__info-page:focus {
  border-bottom: 2px solid #D62323;
}
.catalog__info-name {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.catalog__info-weight {
  opacity: 0.5;
}

.catalog__info-price {
  font-size: 16px;
  margin: 0;
}

.catalog__discription {
  line-height: 21px;
  font-size: 15px;
  opacity: 0.8;
}

.catalog__discription-link a {
  display: block;
  color: #ffffff;
}

@media (min-width: 660px) {
  .catalog {
    width: 640px;
    margin: 0 auto;
  }

  .catalog__list  {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .catalog {
    width: 1400px;
    margin-bottom: 158px;
  }

  .catalog__list {
    width: 1350px;
  }
}

.my-order {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #E8EAED;
}

.my-order__link {
  color: #000000;
  display: block;
  padding: 15px 0;
}

.my-order__number {
  margin: 0;
  display: none;
}

@media (min-width: 1200px) {
  .my-order {
    width: 300px;
    border-left: 1px solid #E8EAED;
  }

  .my-order__title {
    position: relative;
    line-height: 27px;
    font-size: 24px;
  }

  .my-order__title::after {
    position: absolute;
    content: " ";
    display: block;
    width: 236px;
    height: 236px;
    background-image: url("../img/Object.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    right: -68px;
    top: 45px;
  }

  .my-order__number {
    display: block;
    position: relative;
    line-height: 23px;
    font-size: 18px;
    color: #A7A7A7;
    top: 260px;
    left: 5px;
  }
}

.modal {
  position: fixed;
  top: 300px;
  left: 27%;
  width: 300px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 15px;

}

.modal__image {
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 24px;
}

.modal__description {
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #E8EAED;
}

.modal__description-container {
  width: 300px;
  padding: 40px 10px;
  padding-bottom: 1px;
}

.modal__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.modal__title-weight {
  opacity: 0.4;
}

.modal__list {
  width: 251px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal__item {
  margin: 0;
  margin-bottom: 32px;
}

.modal__item-title {
  margin: 0;
  line-height: 21px;
  font-size: 15px;
  opacity: 0.4;
  margin-bottom: 16px;
}

.modal__item-text {
  font-size: 15px;
  margin: 0;
}

.modal__value-list {
  width: 251px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value__list-number {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.value__list-text {
  font-size: 12px;
  opacity: 0.4;
  margin: 0;
}

.modal__buttoms {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.modal__quantity {
  display: inline-block;
  padding: 18px 20px;
  padding-bottom: 7px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #B81111;
  color: #ffffff;
}

.modal__quantity-number {
  position: relative;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  top: -5px;
}

.quantity-number__minus::before {
 content: "";
 position: absolute;
 width: 10px;
 height: 2px;
 background-color: #ffffff;
 top: 15px;
 left: 10px;
}

.quantity-number__plus::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  top: 15px;
  left: 10px;
  transform: rotate(90deg);
}

.quantity-number__plus::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  top: 15px;
  left: 10px;
}

.modal__submit {
  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  height: 57px;
  line-height: 17px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #D62323;
  border: none;
  flex-grow: 1;
}
.modal__close {
  position: absolute;
  bottom: 705px;
  right: 1px;
  width: 80px;
  height: 80px;
  font-size: 0;
  background-color: #F9F9FA;
  border: 0;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  top: 38px;
  left: 24px;
  background-color: #6E6E6E;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}
