body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
}

.main-nav {
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  color: #333333;
  transition: 1s;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #F22C2C;
  transition: 0.3s;
}

.page-header__person {
  width: 20px;
  height: 20px;
  background-color: black;
}

@media (min-width: 750px) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .site-list {
    width: 570px;
  }

}


@media (min-width: 960px) {
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    width: 780px;
  }

}

.page-header__logo {
  display: block;
  width: 64px;
  height: 64px;
}

.order {
  color: #ffffff;
}

.order__wrapper {
  min-width: 320px;
  min-height: 528px;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order__container {
  background-color: #D62323;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
  top: 304px;
}

.order__title {
  line-height: 70px;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 16px;
  padding-top: 32px;
}

.order__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.order__name {
  opacity: 0.5;
  margin: 0;
  margin-bottom: 15px;
}

.categories {
  font-size: 18px;
}

.categories__list {
  list-style: none;
  padding: 0;
  padding-left: 56px;
  padding-top: 48px;
  margin: 0 auto;
}
.categories__item {
  margin-bottom: 24px;
}
.categories__link {
  color: #000000;
}
.categories__link--active {
  color: #D62323;
}
.categories__link:hover,
.categories__link:focus {
  color: #D62323;
}
.categories__link:active {
  color: #D62323;
}

.catalog {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.catalog__title {
  line-height: 36px;
  font-size: 32px;
  margin: 0;
  margin-top: 60px;
}

.catalog__category--price {
  font-size: 18px;
  margin: 0;
}

.catalog__list {
  list-style: none;
  padding: 0;
}
.catalog__item {
  width: 300px;
  margin: 0 auto;
}
.catalog__item-image {
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

.catalog__info-page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  opacity: 0.7;
  border-bottom: 1px solid #2E2E2E;
}
.catalog__info-page:hover,
.catalog__info-page:focus {
  border-bottom: 2px solid #D62323;
}
.catalog__info-name {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.catalog__info-weight {
  opacity: 0.5;
}

.catalog__info-price {
  font-size: 16px;
  margin: 0;
}

.catalog__discription {
  line-height: 21px;
  font-size: 15px;
  opacity: 0.8;
}

.catalog__discription-link a {
  display: block;
  color: #ffffff;
}

.my-order {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #E8EAED;
}

.my-order__link {
  color: #000000;
  display: block;
  padding: 15px 0;
}

.my-order__number {
  margin: 0;
  display: none;
}
